header {
    background-color: rgb(218, 253, 216);
}
.box {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
.logo {
    width: 150px;
}
nav {
    position: absolute;
    top: 100px;
    right: 0;
}
nav li {
    font-size: 15px;
    display: inline-block;
    margin: 0 0 0 25px
}
nav a {
    color: rgb(0, 119, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
nav a:hover {
    color: rgb(22, 214, 22);
    text-decoration: underline;
    transition: .5s;
}
main {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
form {
    margin: 40px 0;
}
form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-text {
    display: block;
    margin: 0 0 20px;
    padding: 5px 20px;
    width: 50%;
}
.checkbox {
    margin: 20px 0;
}
.enviar {
    width: 40%;
    padding: 10px 0;
    background-color: rgb(4, 226, 122);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.enviar:hover {
    background: rgb(35, 209, 35);
}
footer {
    background-color: rgb(4, 226, 122);
    font-size: 15px;
    text-align: center;
}